{% load static %}

<div class="mt-3" style="background-color: black; width:100%; height:350px">

    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-3">
                <h3 class="text-white">Contact Information</h3>
                <p style="color: yellow; font-size : 18px"> <i class="fa fa-map-marker text-danger"></i> Lal Bagh New Colony Ayodhya</p>
                <p style="color: yellow; font-size : 18px"> <i class="fa fa-envelope text-danger"></i> virajpratapsingh1925691@gmail.com</p>
                <p style="color: yellow; font-size : 18px"> <i class="fa fa-mobile text-danger"></i> p: +91 8090838832 / +91 9450333080</p>
                <p style="color: yellow; font-size : 18px"> <i class="fa fa-globe text-danger"></i> W: www.virajcoder.com</p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white">Online Placement</h3>
                <p style="color: yellow; font-size : 18px">An employment website is a website that deals specially with employment or careers. Many employment website are designed to allow employment to post job requirements for a position to be filled and are commonly known as job boards.</p>
            </div>

            <div class="col-md-4 mt-3">
                <h3 class="text-white">Newsletter</h3>
                <p style="color: yellow; font-size : 18px">If you want the any extra information then send me your email id</p>
                <form method="post" class="form-inline">
                    {% csrf_token %}
                    <input type="email" name="emailid" placeholder="Email ID" required class="form-control mr-2">
                    <input type="submit" value="Send" class="btn btn-primary">

                </form>
            </div>
        </div>
    </div>

</div>