{% load static %}

{% block body %}

{% include 'user_navigation.html' %}


<marquee style="font-family : 'Monotype Corsiva'; font-size:25px ; color : rgb(21, 139, 0) ; background-color : black ;font-weight: bold ; margin-top : 1%">
    Profile
</marquee>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-8">

       
<form class="mt-5" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" name="fname" value="{{student.user.first_name}}" required>
        </div>

        <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lname" value="{{student.user.last_name}}"  >
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Contact</label>
            <input type="text" class="form-control" name="contact" value="{{student.mobile}}" required >
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Email ID</label>
            <input type="email" class="form-control" name="email" value="{{student.user.username}}"  readonly >
        </div>
    </div>


    
    <div class="form-row">
        <div class="form-group col-md-6">
                <label>Gender</label>
                {% if student.gender == "Male" %}
            <div style="border: 1px solid lightgrey; padding : 6px ; border-radius: 6px; ">
             <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" id="customRadioInline1" name="gender" class="custom-control-inline" value="Male" checked>
                 <label class="custom-control-lable" for="customRadioInline1">Male</label>
             </div> 
             
             <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="gender" class="custom-control-inline" value="Female">
                <label class="custom-control-lable" for="customRadioInline1">Female</label>
            </div>
        </div> 
        {% else %}
        <div style="border: 1px solid lightgrey; padding : 6px ; border-radius: 6px; ">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="gender" class="custom-control-inline" value="Male">
                <label class="custom-control-lable" for="customRadioInline1">Male</label>
            </div> 
            
            <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="customRadioInline2" name="gender" class="custom-control-inline" value="Female" checked>
               <label class="custom-control-lable" for="customRadioInline1">Female</label>
           </div>
       </div>
       {% endif %}
        </div>

        <div class="form-group col-md-6">
            <label>Image</label>
            <input type="file" class="form-control" name="image"  >
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-primary my-3" style="width: 200px;">

</form>
         </div>

    <div class="col-sm-4 mt-5 text-center">
        <img src="{{student.image.url}}" width="300px" height="300px">
    </div>

    </div>
</div>

{%  if error == "no" %}
 <script>
    alert("profile updated Successful");
    window.location = ("{% url 'user_home' %}")
 </script>
{%  endif %}


{%  if error == "yes" %}
 <script>  
    alert("something went wrong, try Again....");
   
 </script>
{%  endif %}

{% endblock %} 