{% load static %}

{% block body %}

{% include 'navigation.html' %}
 
<style>
    tr{
        text-align: center;
    }
</style>

<marquee style="font-family : 'Monotype Corsiva'; font-size:25px ; color : rgb(21, 139, 0) ; background-color : black ;font-weight: bold ; margin-top : 1%">
    Latest Jobs List
</marquee>
 <hr>

<div class="container">
<table class="table table-hover" id="example">
    <thead>
        <tr style="background-color: rgb(244, 244, 19) ">
            <th>S.NO.</th>
            <th>Company Name</th>
            <th>Job Titles</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    {% for i in job %}
    <tr style="background-color: #f66260  ;color: white;">
        <td>{{forloop.counter}}</td>
        <td>{{i.recruiter.company}}</td>
        <td>{{i.title}}</td>
        <td>{{i.location}}</td>
        <td>{{i.start_date}}</td>
        <td>{{i.end_date}}</td>
        
         {% if i.id in li %}
         <td>Applied</td>
         {% else %}
         <td><a href="{% url 'job_detail' i.id %}" class="btn btn-success btn-sm" >Apply</a></td>
         {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %} 